body {
	background-image: none;
}

.secondHand {
	display: block;
	height: 200px;
	width: 1px;
	transform-origin: top;
	background-color: magenta;
	top: 50%;
	left: 50%;
	position: fixed;
}

.minuteHand {
	display: block;
	height: 150px;
	width: 2px;
	transform-origin: top;
	background-color: magenta;
	top: 50%;
	left: 50%;
	position: fixed;

}

.hourHand {
	display: block;
	height: 120px;
	width: 4px;
	transform-origin: top;
	background-color: magenta;
	top: 50%;
	left: 50%;
	position: fixed;

}

.displayTime {
	display: block;
	width: 100%;
	float: top;
	text-align: center;
	position: fixed;
	clear: both;
	margin-top: 60px;
	background-color: lightyellow;
}

.clockCircle {
	display: block;
	height: 300px;
	width: 300px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}

.title{
	display: inline-block;
	width: 100%;
	float: top;
	text-align: center;
	position: fixed;
	color: lightgreen;
	background-color: darkgreen;

}

.greeting{
	display: inline-block;
	width: 100%;
	text-align: center;
	bottom: 0%;
	color: lightgreen;
	background-color: darkgreen;
	position: relative;
	padding-right: 20px;
	float:bottom;
}